/* Estilos generales para la página del aplicativo */
body {
    background: rgb(131, 58, 180);
    background: linear-gradient(90deg, rgba(131, 58, 180, 1) 0%, rgba(253, 29, 29, 1) 50%, rgba(252, 176, 69, 1) 100%);
    font-family: sans-serif;
    color: white;
}

/* Estilos para dividir las 2 secciones de nuestro aplicativo */
main {
    width: 730px;
    margin: 10px auto 50px;
    display: flex;
    align-items: center;
}

/* Estilos para la sección 1 que contendrá la tabla de juego */
.section1 {
    background-color: rgba(255, 255, 255, 0.2);
    padding: 0 10px 10px 10px;
    border-radius: 8px;
}

/* Estilos para el título 1 */
h1 {
    text-align: center;
}

/* Estilos para los botones que servirán cómo tarjetas */
button {
    height: 100px;
    width: 100px;
    font-size: 40px;
    color: white;
    font-weight: bold;
}

/* Estilos que mostrarán una mano al poner el cursos sobre los botones */
button:hover {
    cursor: pointer;
}

/* Estilos para la seccion 2 que contendrá las estadísticas de juego */
.section2 {
    background-color: rgba(255, 255, 255, 0.2);
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    width: 300px;
    height: 400px;
    padding: 0 20px;
}

/* Estilos para la sección de estadística */
.estadisticas {
    border: 1px solid white;
    font-size: 22px;
    font-family: 'Times New Roman', Times, serif;
    height: 105px;
    border-radius: 8px;
    padding: 8px 20px;
    box-sizing: border-box;
}

/* Estilos para el pie de página */
footer {
    text-align: center;

}

a {
    text-decoration: none;
}

img {
    width: 80%;

}

/*Estilos para el botón de recargar*/
.recargar {
    width: 730px;
    margin: 10px auto 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

